<head>
  <link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
</head>

<template name="Header">
  <img class="ui fluid image" style="max-height: 500px" src="/images/music-instruments.jpg">
  <div class="ui borderless inverted menu" style="border-radius: 0px; margin-top: 0px">
    <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}"><h1>Campus Jam</h1></a>
      <a class="{{ isActiveRoute 'Login_Page'}} item" href="{{ pathFor 'Login_Page' }}">Login</a>
      <a class="{{ isActiveRoute 'New_Profile_Page'}} item" href="{{ pathFor 'New_Profile_Page' }}">New Profile</a>
      {{#if currentUser}}
        <a class="{{ isActiveRoute 'Add_Stuff_Page'}} item" href="{{ pathFor 'Add_Stuff_Page' }}">Add Stuff </a>
        <a class="{{ isActiveRoute 'List_Stuff_Page'}} item" href="{{ pathFor 'List_Stuff_Page' }}">List Stuff</a>
      {{/if}}
    </div>
  </div>
</template>