.ui.middle.container h1, h2, h3{
  margin-top: 20px;
  font-family: 'Yellowtail', cursive;
  text-align: center;
}

.ui.borderless.inverted.menu {
  background-color: #BC6E1D;
}

.landing-section-1 {
  padding: 0 10px 30px 10px;
  background-color: #bc8928;
  color: #bef9e9;
}

.landing-section-2 {
  padding: 20px 10px 20px 10px;
  background-color: #BC6E1D;
  color: #1a4cb5;
}

.landing-section-3 {
  padding: 20px 10px 30px 200px;
  background-color: #bc8928;
  color: #bef9e9;
}

.landing-section-1-welcome {
  font-family: 'Yellowtail', cursive;
  font-weight: 900;
  font-size: 72px;
}

.landing-section-header {
  font-family: 'Yellowtail', cursive;
  font-weight: 900;
  font-size: 36px;
}